<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
      body {
        color: blanchedalmond;
        background-color: steelblue;
        text-align: center;
        font-family: cursive;
      }
    </style>
</head>
<body>
    <h1>Pokedex</h1>
    <h2> <%= pokemonname %></h2> 
    <br>
  
   
    <button><a href="/pokemon">Return to Pokedex Entries</a></button>
    <img src='<%=pokemonimg %>' alt=“pokemonimg”> <h3><%=pokemontype %> </h3>
    
   
     
     <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />   

    </form>
    <a href="/pokemon/<%=i%>/edit">Edit Pokemon</a>
   
</body>
</html>
